DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=your_discord_application_id
DISCORD_GUILD_ID=your_test_server_id
OPERATOR_IDS=your_discord_user_id,another_operator_id
GITHUB_TOKEN=your_fine_grained_github_token
GITHUB_OWNER=refous61-blip
GITHUB_REPO=something
GITHUB_BRANCH=main
